# Evaluation Engine Configuration
# Options: gemini, llama
EVAL_ENGINE=custom

GEMINI_API_KEY=Your Gemini Key Here
GEMINI_MODEL=gemini-2.5-flash

OLLAMA_HOST=http://localhost:11434

LLAMA_MODEL_FOR_TRANSCRIPT_EXTRACTION=llama3.2:3b
LLAMA_MODEL_FOR_EVALUATION=llama3.1:8b

OPENAI_API_KEY=Your OpenAI API Key Here